<a href="https://colab.research.google.com/github/Luid1991/Luid1991/blob/main/Trabalho_PySpark_03_05_LUID_BARBOSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Configurações iniciais

## Instalação dos pacotes

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

^C

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
from pyspark.sql.functions import regexp_replace
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Para deixar a visualização das tabelas mais amigável
spark

In [ ]:
df = spark.read.csv('/content/Estatística Descritiva - Organização Gráfica.csv',header=True)

In [ ]:
df.show()

+---------+--------+---------+------+------+-----+------------+-----------+------------+------------+-----+
|Matrícula|    Nome|   Cidade|Estado|  País|Idade|Departamento|      Cargo|Salário (R$)|Escolaridade|Nota |
+---------+--------+---------+------+------+-----+------------+-----------+------------+------------+-----+
|        1|   Lucas|  Atibaia|    SP|Brasil|   35|     Compras|    Gerente|       25000|    Superior|    8|
|        2|     Ana|São Paulo|    SP|Brasil|   29|      Vendas|Coordenador|       12000|    Superior|    6|
|        3|   Luiza|   Santos|    SP|Brasil|   38|    Finanças|    Gerente|       28000|         MBA|    9|
|        4|Fernando|  Atibaia|    SP|Brasil|   36|   Marketing|    Diretor|       40000|    Mestrado|    7|
|        5|  Sandra|  Atibaia|    SP|Brasil|   28|    Produção|   Analista|       23000|    Superior|    5|
|        6| Douglas| Bragança|    SP|Brasil|   29|    Finanças|   Analista|       11000|    Superior|    9|
|        7| Eduardo|  Extrema|    MG|Brasil|   30|   Marketing|    Gerente|       12000|         MBA|    4|
|        8|   Ester|  Itapeva|    MG|Brasil|   29|     Compras|   Analista|       10000|    Superior|    2|
|        9|   Pedro|  Extrema|    MG|Brasil|   30|   Marketing|   Analista|       13000|    Superior|    1|
|       10|   Maria|  Extrema|    MG|Brasil|   40|    Produção|   Analista|       12000|         MBA|    7|
+---------+--------+---------+------+------+-----+------------+-----------+------------+------------+-----+

In [ ]:
'''
Agora você vai aplicar seus conhecimentos de Pyspark para para as seguintes
transformações no DF:

1 - Renomear todas as colunas de forma que se mantenha os nomes, mas apenas com
letras minúsculas sem espaços, e/ou caracteres especiais

2 - Fazer livremente no mínimo 10 filtros que tragam recortes a partir de colunas
diferentes

3 - Considerando que todos os funcionários tem um desconto de previdência complementar
de 10 % do salário Bruto crie e calcule os valores de uma nova coluna chamada
previdencia.

4 - Considerando que todos os funcionários nesse mês epecífico terão uma bonificacçao
de 20% sobre o salário bruto, crie e calcule os valores de uma nova coluna chamada
bonus

5 - Crie uma nova coluna com todos os nomes dos funcionários em letras maiúsculas

6 - Crie uma nova coluna com os nomes dos funcionários todos em letras minúsculas

7 - Crie um novo dataframe  chamado quant apenas com as colunas idade,
salário e notas

8 - calcule as principais medidas descritivas do df quant (describe)

9 - Ordene o df original por notas de forma crescente

10 - faça as contagens de frequências, usando groupby para as seguintes colunas:
a) Cargo
b) Cidade
c) Estado
d) Escolaridade
e) Departamento
'''

'\nAgora você vai aplicar seus conhecimentos de Pyspark para para as seguintes\ntransformações no DF:\n\n1 - Renomear todas as colunas de forma que se mantenha os nomes, mas apenas com\nletras minúsculas sem espaços, e/ou caracteres especiais\n\n2 - Fazer livremente no mínimo 10 filtros que tragam recortes a partir de colunas\ndiferentes\n\n3 - Considerando que todos os funcionários tem um desconto de previdência complementar\nde 10 % do salário Bruto crie e calcule os valores de uma nova coluna chamada\nprevidencia.\n\n4 - Considerando que todos os funcionários nesse mês epecífico terão uma bonificacçao\nde 20% sobre o salário bruto, crie e calcule os valores de uma nova coluna chamada\nbonus\n\n5 - Crie uma nova coluna com todos os nomes dos funcionários em letras maiúsculas\n\n6 - Crie uma nova coluna com os nomes dos funcionários todos em letras minúsculas\n\n7 - Crie um novo dataframe  chamado quant apenas com as colunas idade,\nsalário e notas\n\n8 - calcule as principais medidas descritivas do df quant (describe)\n\n9 - Ordene o df original por notas de forma crescente\n\n10 - faça as contagens de frequências, usando groupby para as seguintes colunas:\na) Cargo\nb) Cidade\nc) Estado\nd) Escolaridade\ne) Departamento\n'

In [ ]:
'''1 - Renomear todas as colunas de forma que se mantenha os nomes, mas apenas com
letras MAIUSCULAS sem espaços, e/ou caracteres especiais'''

df = df.withColumnRenamed('Matrícula','MATRÍCULA')
df = df.withColumnRenamed('Nome','NOME')
df = df.withColumnRenamed('Cidade','CIDADE')
df = df.withColumnRenamed('Estado','ESTADO')
df = df.withColumnRenamed('País','PAÍS')
df = df.withColumnRenamed('Idade','IDADE')
df = df.withColumnRenamed('Departamento','DEPARTAMENTO')
df = df.withColumnRenamed('Cargo','CARGO')
df = df.withColumnRenamed('Salário (R$)','SALÁRIO(RS)')
df = df.withColumnRenamed('Escolaridade','ESCOLARIDADE')
df = df.withColumnRenamed('Nota ','NOTA')
df.show()


'''df = df.toDF(*('MATRÍCULA','NOME','CIDADE','ESTADO','PAÍS','IDADE','DEPARTAMENTO','CARGO','SALÁRIO','ESCOLARIDADE','NOTA')) JEITO ALTERNATIVO
df.show()'''

+---------+--------+---------+------+------+-----+------------+-----------+-----------+------------+----+-----------+------+----------+----------+
|MATRÍCULA|    NOME|   CIDADE|ESTADO|  PAÍS|IDADE|DEPARTAMENTO|      CARGO|SALÁRIO(RS)|ESCOLARIDADE|NOTA|PREVIDENCIA| BONUS|MAIUSCULAS|MINUSCULAS|
+---------+--------+---------+------+------+-----+------------+-----------+-----------+------------+----+-----------+------+----------+----------+
|        1|   Lucas|  Atibaia|    SP|Brasil|   35|     Compras|    Gerente|      25000|    Superior|   8|     2500.0|5000.0|     LUCAS|     lucas|
|        2|     Ana|São Paulo|    SP|Brasil|   29|      Vendas|Coordenador|      12000|    Superior|   6|     1200.0|2400.0|       ANA|       ana|
|        3|   Luiza|   Santos|    SP|Brasil|   38|    Finanças|    Gerente|      28000|         MBA|   9|     2800.0|5600.0|     LUIZA|     luiza|
|        4|Fernando|  Atibaia|    SP|Brasil|   36|   Marketing|    Diretor|      40000|    Mestrado|   7|     4000.0|8000.0|  FERNANDO|  fernando|
|        5|  Sandra|  Atibaia|    SP|Brasil|   28|    Produção|   Analista|      23000|    Superior|   5|     2300.0|4600.0|    SANDRA|    sandra|
|        6| Douglas| Bragança|    SP|Brasil|   29|    Finanças|   Analista|      11000|    Superior|   9|     1100.0|2200.0|   DOUGLAS|   douglas|
|        7| Eduardo|  Extrema|    MG|Brasil|   30|   Marketing|    Gerente|      12000|         MBA|   4|     1200.0|2400.0|   EDUARDO|   eduardo|
|        8|   Ester|  Itapeva|    MG|Brasil|   29|     Compras|   Analista|      10000|    Superior|   2|     1000.0|2000.0|     ESTER|     ester|
|        9|   Pedro|  Extrema|    MG|Brasil|   30|   Marketing|   Analista|      13000|    Superior|   1|     1300.0|2600.0|     PEDRO|     pedro|
|       10|   Maria|  Extrema|    MG|Brasil|   40|    Produção|   Analista|      12000|         MBA|   7|     1200.0|2400.0|     MARIA|     maria|
+---------+--------+---------+------+------+-----+------------+-----------+-----------+------------+----+-----------+------+----------+----------+

"df = df.toDF(*('MATRÍCULA','NOME','CIDADE','ESTADO','PAÍS','IDADE','DEPARTAMENTO','CARGO','SALÁRIO','ESCOLARIDADE','NOTA')) JEITO ALTERNATIVO\ndf.show()"

In [ ]:
'''2 - Fazer livremente no mínimo 10 filtros que tragam recortes a partir de colunas
diferentes '''

filtro01 = df.select('NOME','ESTADO')
filtro01.show()

filtro02 = df.select('NOME','CIDADE')
filtro02.show()

filtro03 = df.select('NOME','PAÍS')
filtro03.show()

filtro04 = df.select('NOME','CIDADE','ESTADO','PAÍS')
filtro04.show()

filtro05 = df.select('NOME','IDADE','DEPARTAMENTO')
filtro05.show()

filtro06 = df.select('NOME','DEPARTAMENTO','CARGO')
filtro06.show()

filtro07 = df.select('NOME','DEPARTAMENTO','CARGO','SALÁRIO(RS)')
filtro07.show()

filtro08 = df.select('NOME','DEPARTAMENTO','CARGO','ESCOLARIDADE')
filtro08.show()

filtro09 = df.select('NOME','DEPARTAMENTO','ESCOLARIDADE','NOTA')
filtro09.show()

filtro10 = df.select('NOME','SALÁRIO(RS)','ESCOLARIDADE','NOTA')
filtro10.show()

+--------+------+
|    NOME|ESTADO|
+--------+------+
|   Lucas|    SP|
|     Ana|    SP|
|   Luiza|    SP|
|Fernando|    SP|
|  Sandra|    SP|
| Douglas|    SP|
| Eduardo|    MG|
|   Ester|    MG|
|   Pedro|    MG|
|   Maria|    MG|
+--------+------+

+--------+---------+
|    NOME|   CIDADE|
+--------+---------+
|   Lucas|  Atibaia|
|     Ana|São Paulo|
|   Luiza|   Santos|
|Fernando|  Atibaia|
|  Sandra|  Atibaia|
| Douglas| Bragança|
| Eduardo|  Extrema|
|   Ester|  Itapeva|
|   Pedro|  Extrema|
|   Maria|  Extrema|
+--------+---------+

+--------+------+
|    NOME|  PAÍS|
+--------+------+
|   Lucas|Brasil|
|     Ana|Brasil|
|   Luiza|Brasil|
|Fernando|Brasil|
|  Sandra|Brasil|
| Douglas|Brasil|
| Eduardo|Brasil|
|   Ester|Brasil|
|   Pedro|Brasil|
|   Maria|Brasil|
+--------+------+

+--------+---------+------+------+
|    NOME|   CIDADE|ESTADO|  PAÍS|
+--------+---------+------+------+
|   Lucas|  Atibaia|    SP|Brasil|
|     Ana|São Paulo|    SP|Brasil|
|   Luiza|   Santos|    SP|Brasil|
|Fernando|  Atibaia|    SP|Brasil|
|  Sandra|  Atibaia|    SP|Brasil|
| Douglas| Bragança|    SP|Brasil|
| Eduardo|  Extrema|    MG|Brasil|
|   Ester|  Itapeva|    MG|Brasil|
|   Pedro|  Extrema|    MG|Brasil|
|   Maria|  Extrema|    MG|Brasil|
+--------+---------+------+------+

+--------+-----+------------+
|    NOME|IDADE|DEPARTAMENTO|
+--------+-----+------------+
|   Lucas|   35|     Compras|
|     Ana|   29|      Vendas|
|   Luiza|   38|    Finanças|
|Fernando|   36|   Marketing|
|  Sandra|   28|    Produção|
| Douglas|   29|    Finanças|
| Eduardo|   30|   Marketing|
|   Ester|   29|     Compras|
|   Pedro|   30|   Marketing|
|   Maria|   40|    Produção|
+--------+-----+------------+

+--------+------------+-----------+
|    NOME|DEPARTAMENTO|      CARGO|
+--------+------------+-----------+
|   Lucas|     Compras|    Gerente|
|     Ana|      Vendas|Coordenador|
|   Luiza|    Finanças|    Gerente|
|Fernando|   Marketing|    Diretor|
|  Sandra|    Produção|   Analista|
| Douglas|    Finanças|   Analista|
| Eduardo|   Marketing|    Gerente|
|   Ester|     Compras|   Analista|
|   Pedro|   Marketing|   Analista|
|   Maria|    Produção|   Analista|
+--------+------------+-----------+

+--------+------------+-----------+-----------+
|    NOME|DEPARTAMENTO|      CARGO|SALÁRIO(RS)|
+--------+------------+-----------+-----------+
|   Lucas|     Compras|    Gerente|      25000|
|     Ana|      Vendas|Coordenador|      12000|
|   Luiza|    Finanças|    Gerente|      28000|
|Fernando|   Marketing|    Diretor|      40000|
|  Sandra|    Produção|   Analista|      23000|
| Douglas|    Finanças|   Analista|      11000|
| Eduardo|   Marketing|    Gerente|      12000|
|   Ester|     Compras|   Analista|      10000|
|   Pedro|   Marketing|   Analista|      13000|
|   Maria|    Produção|   Analista|      12000|
+--------+------------+-----------+-----------+

+--------+------------+-----------+------------+
|    NOME|DEPARTAMENTO|      CARGO|ESCOLARIDADE|
+--------+------------+-----------+------------+
|   Lucas|     Compras|    Gerente|    Superior|
|     Ana|      Vendas|Coordenador|    Superior|
|   Luiza|    Finanças|    Gerente|         MBA|
|Fernando|   Marketing|    Diretor|    Mestrado|
|  Sandra|    Produção|   Analista|    Superior|
| Douglas|    Finanças|   Analista|    Superior|
| Eduardo|   Marketing|    Gerente|         MBA|
|   Ester|     Compras|   Analista|    Superior|
|   Pedro|   Marketing|   Analista|    Superior|
|   Maria|    Produção|   Analista|         MBA|
+--------+------------+-----------+------------+

+--------+------------+------------+----+
|    NOME|DEPARTAMENTO|ESCOLARIDADE|NOTA|
+--------+------------+------------+----+
|   Lucas|     Compras|    Superior|   8|
|     Ana|      Vendas|    Superior|   6|
|   Luiza|    Finanças|         MBA|   9|
|Fernando|   Marketing|    Mestrado|   7|
|  Sandra|    Produção|    Superior|   5|
| Douglas|    Finanças|    Superior|   9|
| Eduardo|   Marketing|         MBA|   4|
|   Ester|     Compras|    Superior|   2|
|   Pedro|   Marketing|    Superior|   1|
|   Maria|    Produção|         MBA|   7|
+--------+------------+------------+----+

+--------+-----------+------------+----+
|    NOME|SALÁRIO(RS)|ESCOLARIDADE|NOTA|
+--------+-----------+------------+----+
|   Lucas|      25000|    Superior|   8|
|     Ana|      12000|    Superior|   6|
|   Luiza|      28000|         MBA|   9|
|Fernando|      40000|    Mestrado|   7|
|  Sandra|      23000|    Superior|   5|
| Douglas|      11000|    Superior|   9|
| Eduardo|      12000|         MBA|   4|
|   Ester|      10000|    Superior|   2|
|   Pedro|      13000|    Superior|   1|
|   Maria|      12000|         MBA|   7|
+--------+-----------+------------+----+

In [ ]:
'''3 - Considerando que todos os funcionários tem um desconto de previdência complementar
de 10 % do salário Bruto crie e calcule os valores de uma nova coluna chamada
previdencia.'''

df = df.withColumn('PREVIDENCIA',df['SALÁRIO(RS)']*0.1)

df.show()

+---------+--------+---------+------+------+-----+------------+-----------+-----------+------------+----+-----------+
|MATRÍCULA|    NOME|   CIDADE|ESTADO|  PAÍS|IDADE|DEPARTAMENTO|      CARGO|SALÁRIO(RS)|ESCOLARIDADE|NOTA|PREVIDENCIA|
+---------+--------+---------+------+------+-----+------------+-----------+-----------+------------+----+-----------+
|        1|   Lucas|  Atibaia|    SP|Brasil|   35|     Compras|    Gerente|      25000|    Superior|   8|     2500.0|
|        2|     Ana|São Paulo|    SP|Brasil|   29|      Vendas|Coordenador|      12000|    Superior|   6|     1200.0|
|        3|   Luiza|   Santos|    SP|Brasil|   38|    Finanças|    Gerente|      28000|         MBA|   9|     2800.0|
|        4|Fernando|  Atibaia|    SP|Brasil|   36|   Marketing|    Diretor|      40000|    Mestrado|   7|     4000.0|
|        5|  Sandra|  Atibaia|    SP|Brasil|   28|    Produção|   Analista|      23000|    Superior|   5|     2300.0|
|        6| Douglas| Bragança|    SP|Brasil|   29|    Finanças|   Analista|      11000|    Superior|   9|     1100.0|
|        7| Eduardo|  Extrema|    MG|Brasil|   30|   Marketing|    Gerente|      12000|         MBA|   4|     1200.0|
|        8|   Ester|  Itapeva|    MG|Brasil|   29|     Compras|   Analista|      10000|    Superior|   2|     1000.0|
|        9|   Pedro|  Extrema|    MG|Brasil|   30|   Marketing|   Analista|      13000|    Superior|   1|     1300.0|
|       10|   Maria|  Extrema|    MG|Brasil|   40|    Produção|   Analista|      12000|         MBA|   7|     1200.0|
+---------+--------+---------+------+------+-----+------------+-----------+-----------+------------+----+-----------+

In [ ]:
'''4 - Considerando que todos os funcionários nesse mês epecífico terão uma bonificacçao
de 20% sobre o salário bruto, crie e calcule os valores de uma nova coluna chamada
bonus'''

df = df.withColumn('BONUS',df['SALÁRIO(RS)']*0.2)

df.show()

+---------+--------+---------+------+------+-----+------------+-----------+-----------+------------+----+-----------+------+
|MATRÍCULA|    NOME|   CIDADE|ESTADO|  PAÍS|IDADE|DEPARTAMENTO|      CARGO|SALÁRIO(RS)|ESCOLARIDADE|NOTA|PREVIDENCIA| BONUS|
+---------+--------+---------+------+------+-----+------------+-----------+-----------+------------+----+-----------+------+
|        1|   Lucas|  Atibaia|    SP|Brasil|   35|     Compras|    Gerente|      25000|    Superior|   8|     2500.0|5000.0|
|        2|     Ana|São Paulo|    SP|Brasil|   29|      Vendas|Coordenador|      12000|    Superior|   6|     1200.0|2400.0|
|        3|   Luiza|   Santos|    SP|Brasil|   38|    Finanças|    Gerente|      28000|         MBA|   9|     2800.0|5600.0|
|        4|Fernando|  Atibaia|    SP|Brasil|   36|   Marketing|    Diretor|      40000|    Mestrado|   7|     4000.0|8000.0|
|        5|  Sandra|  Atibaia|    SP|Brasil|   28|    Produção|   Analista|      23000|    Superior|   5|     2300.0|4600.0|
|        6| Douglas| Bragança|    SP|Brasil|   29|    Finanças|   Analista|      11000|    Superior|   9|     1100.0|2200.0|
|        7| Eduardo|  Extrema|    MG|Brasil|   30|   Marketing|    Gerente|      12000|         MBA|   4|     1200.0|2400.0|
|        8|   Ester|  Itapeva|    MG|Brasil|   29|     Compras|   Analista|      10000|    Superior|   2|     1000.0|2000.0|
|        9|   Pedro|  Extrema|    MG|Brasil|   30|   Marketing|   Analista|      13000|    Superior|   1|     1300.0|2600.0|
|       10|   Maria|  Extrema|    MG|Brasil|   40|    Produção|   Analista|      12000|         MBA|   7|     1200.0|2400.0|
+---------+--------+---------+------+------+-----+------------+-----------+-----------+------------+----+-----------+------+

In [ ]:
''' 5 - Crie uma nova coluna com todos os nomes dos funcionários em letras maiúsculas '''
from pyspark.sql.functions import *
df = df.withColumn('MAIUSCULAS',upper(col('NOME')))
df.show()

+---------+--------+---------+------+------+-----+------------+-----------+-----------+------------+----+-----------+------+----------+
|MATRÍCULA|    NOME|   CIDADE|ESTADO|  PAÍS|IDADE|DEPARTAMENTO|      CARGO|SALÁRIO(RS)|ESCOLARIDADE|NOTA|PREVIDENCIA| BONUS|MAIUSCULAS|
+---------+--------+---------+------+------+-----+------------+-----------+-----------+------------+----+-----------+------+----------+
|        1|   Lucas|  Atibaia|    SP|Brasil|   35|     Compras|    Gerente|      25000|    Superior|   8|     2500.0|5000.0|     LUCAS|
|        2|     Ana|São Paulo|    SP|Brasil|   29|      Vendas|Coordenador|      12000|    Superior|   6|     1200.0|2400.0|       ANA|
|        3|   Luiza|   Santos|    SP|Brasil|   38|    Finanças|    Gerente|      28000|         MBA|   9|     2800.0|5600.0|     LUIZA|
|        4|Fernando|  Atibaia|    SP|Brasil|   36|   Marketing|    Diretor|      40000|    Mestrado|   7|     4000.0|8000.0|  FERNANDO|
|        5|  Sandra|  Atibaia|    SP|Brasil|   28|    Produção|   Analista|      23000|    Superior|   5|     2300.0|4600.0|    SANDRA|
|        6| Douglas| Bragança|    SP|Brasil|   29|    Finanças|   Analista|      11000|    Superior|   9|     1100.0|2200.0|   DOUGLAS|
|        7| Eduardo|  Extrema|    MG|Brasil|   30|   Marketing|    Gerente|      12000|         MBA|   4|     1200.0|2400.0|   EDUARDO|
|        8|   Ester|  Itapeva|    MG|Brasil|   29|     Compras|   Analista|      10000|    Superior|   2|     1000.0|2000.0|     ESTER|
|        9|   Pedro|  Extrema|    MG|Brasil|   30|   Marketing|   Analista|      13000|    Superior|   1|     1300.0|2600.0|     PEDRO|
|       10|   Maria|  Extrema|    MG|Brasil|   40|    Produção|   Analista|      12000|         MBA|   7|     1200.0|2400.0|     MARIA|
+---------+--------+---------+------+------+-----+------------+-----------+-----------+------------+----+-----------+------+----------+

In [ ]:
''' 6 - Crie uma nova coluna com todos os nomes dos funcionários em letras minusculas '''
from pyspark.sql.functions import *
df = df.withColumn('MINUSCULAS',lower(col('NOME')))
df.show()

+---------+--------+---------+------+------+-----+------------+-----------+-----------+------------+----+-----------+------+----------+----------+
|MATRÍCULA|    NOME|   CIDADE|ESTADO|  PAÍS|IDADE|DEPARTAMENTO|      CARGO|SALÁRIO(RS)|ESCOLARIDADE|NOTA|PREVIDENCIA| BONUS|MAIUSCULAS|MINUSCULAS|
+---------+--------+---------+------+------+-----+------------+-----------+-----------+------------+----+-----------+------+----------+----------+
|        1|   Lucas|  Atibaia|    SP|Brasil|   35|     Compras|    Gerente|      25000|    Superior|   8|     2500.0|5000.0|     LUCAS|     lucas|
|        2|     Ana|São Paulo|    SP|Brasil|   29|      Vendas|Coordenador|      12000|    Superior|   6|     1200.0|2400.0|       ANA|       ana|
|        3|   Luiza|   Santos|    SP|Brasil|   38|    Finanças|    Gerente|      28000|         MBA|   9|     2800.0|5600.0|     LUIZA|     luiza|
|        4|Fernando|  Atibaia|    SP|Brasil|   36|   Marketing|    Diretor|      40000|    Mestrado|   7|     4000.0|8000.0|  FERNANDO|  fernando|
|        5|  Sandra|  Atibaia|    SP|Brasil|   28|    Produção|   Analista|      23000|    Superior|   5|     2300.0|4600.0|    SANDRA|    sandra|
|        6| Douglas| Bragança|    SP|Brasil|   29|    Finanças|   Analista|      11000|    Superior|   9|     1100.0|2200.0|   DOUGLAS|   douglas|
|        7| Eduardo|  Extrema|    MG|Brasil|   30|   Marketing|    Gerente|      12000|         MBA|   4|     1200.0|2400.0|   EDUARDO|   eduardo|
|        8|   Ester|  Itapeva|    MG|Brasil|   29|     Compras|   Analista|      10000|    Superior|   2|     1000.0|2000.0|     ESTER|     ester|
|        9|   Pedro|  Extrema|    MG|Brasil|   30|   Marketing|   Analista|      13000|    Superior|   1|     1300.0|2600.0|     PEDRO|     pedro|
|       10|   Maria|  Extrema|    MG|Brasil|   40|    Produção|   Analista|      12000|         MBA|   7|     1200.0|2400.0|     MARIA|     maria|
+---------+--------+---------+------+------+-----+------------+-----------+-----------+------------+----+-----------+------+----------+----------+

In [ ]:
''' 7 - Crie um novo dataframe  chamado quant apenas com as colunas idade,
salário e notas'''

quant = df.select('IDADE','SALÁRIO(RS)','NOTA')
quant.show()

+-----+-----------+----+
|IDADE|SALÁRIO(RS)|NOTA|
+-----+-----------+----+
|   35|      25000|   8|
|   29|      12000|   6|
|   38|      28000|   9|
|   36|      40000|   7|
|   28|      23000|   5|
|   29|      11000|   9|
|   30|      12000|   4|
|   29|      10000|   2|
|   30|      13000|   1|
|   40|      12000|   7|
+-----+-----------+----+

In [ ]:
''' 8 - calcule as principais medidas descritivas do df quant (describe) '''

quant = df.select('IDADE','SALÁRIO(RS)','NOTA')
quant.describe().show()

+-------+-----------------+------------------+-----------------+
|summary|            IDADE|       SALÁRIO(RS)|             NOTA|
+-------+-----------------+------------------+-----------------+
|  count|               10|                10|               10|
|   mean|             32.4|           18600.0|              5.8|
| stddev|4.402019738458447|10002.221975363496|2.780887148615228|
|    min|               28|             10000|                1|
|    max|               40|             40000|                9|
+-------+-----------------+------------------+-----------------+

In [ ]:
'''9 - Ordene o df original por notas de forma crescente'''

df.orderBy('NOTA')

+---------+--------+---------+------+------+-----+------------+-----------+-----------+------------+----+-----------+------+
|MATRÍCULA|    NOME|   CIDADE|ESTADO|  PAÍS|IDADE|DEPARTAMENTO|      CARGO|SALÁRIO(RS)|ESCOLARIDADE|NOTA|PREVIDENCIA| BONUS|
+---------+--------+---------+------+------+-----+------------+-----------+-----------+------------+----+-----------+------+
|        9|   Pedro|  Extrema|    MG|Brasil|   30|   Marketing|   Analista|      13000|    Superior|   1|     1300.0|2600.0|
|        8|   Ester|  Itapeva|    MG|Brasil|   29|     Compras|   Analista|      10000|    Superior|   2|     1000.0|2000.0|
|        7| Eduardo|  Extrema|    MG|Brasil|   30|   Marketing|    Gerente|      12000|         MBA|   4|     1200.0|2400.0|
|        5|  Sandra|  Atibaia|    SP|Brasil|   28|    Produção|   Analista|      23000|    Superior|   5|     2300.0|4600.0|
|        2|     Ana|São Paulo|    SP|Brasil|   29|      Vendas|Coordenador|      12000|    Superior|   6|     1200.0|2400.0|
|       10|   Maria|  Extrema|    MG|Brasil|   40|    Produção|   Analista|      12000|         MBA|   7|     1200.0|2400.0|
|        4|Fernando|  Atibaia|    SP|Brasil|   36|   Marketing|    Diretor|      40000|    Mestrado|   7|     4000.0|8000.0|
|        1|   Lucas|  Atibaia|    SP|Brasil|   35|     Compras|    Gerente|      25000|    Superior|   8|     2500.0|5000.0|
|        3|   Luiza|   Santos|    SP|Brasil|   38|    Finanças|    Gerente|      28000|         MBA|   9|     2800.0|5600.0|
|        6| Douglas| Bragança|    SP|Brasil|   29|    Finanças|   Analista|      11000|    Superior|   9|     1100.0|2200.0|
+---------+--------+---------+------+------+-----+------------+-----------+-----------+------------+----+-----------+------+

In [ ]:
''' 10 - faça as contagens de frequências, usando groupby para as seguintes colunas:
a) Cargo
b) Cidade
c) Estado
d) Escolaridade
e) Departamento '''

a= df.groupBy('CARGO').agg({'CARGO':'COUNT'})
a.show()
b= df.groupBy('CIDADE').agg({'CIDADE':'COUNT'})
b.show()
c= df.groupBy('ESTADO').agg({'ESTADO':'COUNT'})
c.show()
d= df.groupBy('ESCOLARIDADE').agg({'ESCOLARIDADE':'COUNT'})
d.show()
e= df.groupBy('DEPARTAMENTO').agg({'DEPARTAMENTO':'COUNT'})
e.show()

+-----------+------------+
|      CARGO|count(CARGO)|
+-----------+------------+
|    Gerente|           3|
|Coordenador|           1|
|    Diretor|           1|
|   Analista|           5|
+-----------+------------+

+---------+-------------+
|   CIDADE|count(CIDADE)|
+---------+-------------+
|   Santos|            1|
|  Extrema|            3|
|São Paulo|            1|
|  Atibaia|            3|
| Bragança|            1|
|  Itapeva|            1|
+---------+-------------+

+------+-------------+
|ESTADO|count(ESTADO)|
+------+-------------+
|    SP|            6|
|    MG|            4|
+------+-------------+

+------------+-------------------+
|ESCOLARIDADE|count(ESCOLARIDADE)|
+------------+-------------------+
|    Superior|                  6|
|    Mestrado|                  1|
|         MBA|                  3|
+------------+-------------------+

+------------+-------------------+
|DEPARTAMENTO|count(DEPARTAMENTO)|
+------------+-------------------+
|      Vendas|                  1|
|    Finanças|                  2|
|   Marketing|                  3|
|     Compras|                  2|
|    Produção|                  2|
+------------+-------------------+